<mat-toolbar color="primary">

  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>
    <button mat-button class="logo" routerLink="/">
      <img src="./assets/img/logo.png">
      <h1>GYMO</h1>
    </button>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <button mat-button class="" routerLink="/signup">
          <a >Signup</a>
        </button>
      </li>

      <li *ngIf="!isAuth">
        <button mat-button class="" routerLink="/login">
          <a >Login</a>
        </button>
      </li>

      <li *ngIf="isAuth">
        <button mat-button class="" routerLink="/training">
          <a >Training</a>
        </button>
      </li>

      <li *ngIf="isAuth">
          <button mat-button class="" routerLink="/dashboard">
            <a >Dashboard</a>
          </button>
      </li>

      <li *ngIf="isAuth">
          <button mat-button class="" (click)="onLogout()">
            <a style="cursor: pointer" >Logout</a>
          </button>
      </li>

      <li *ngIf="isAuth">
          <button mat-button class="">
            <img class="avatar" src="../assets/img/profile-sm.jpg">
          </button>
      </li>
    </ul>

  </div>

</mat-toolbar>
